<div class="background_login">
    <div class="login_information">
        <h1>
            Login
        </h1>
                <form>
                    <input type="email" placeholder="Enter your email" id="email_address">
                    <input type="password" placeholder="Enter your password" id="password">
                    <a href="file:///C:/Users/reila/OneDrive/Desktop/Web/signup.html">Forgot Password?</a>
                    <button type="button" onclick="selectedItem()">Login</button>
                </form>
                <a routerLink="signUp">Don't have an account?  Sign Up</a>
            </div>
            <div class="photo">
                <img src="\calculate-icon.png" alt="" width="500" height="450">
        </div>
</div>


